name: Deploy to Surge
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Surge and Deploy
        run: |
          npm install -g surge
          surge ./ samuel-proyecto-final.surge.sh --token ${{ secrets.SURGE_TOKEN }}
